main {
    width: 50%;
}
.valid-visible {
    display: none;
}
.invalid-visible {
    display: none;
}
.valid {
    color: green;
}
.invalid {
    color: red;
}
.tablazat{
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
   /*display: table-column-group;*/
}
/*table {
    display: table;
}
table tr {
    display: table-cell;
}
table tr td {
    display: contents;
}*/